# Исследование надежности заемщиков

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
group_children = data.groupby('children').agg({'debt': ['sum', 'count']})
group_children['proportion'] = (group_children['debt']['sum'] / group_children['debt']['count']) * 100
group_children['proportion'] = group_children['proportion'].round(1)
group_children

          debt        proportion
           sum  count
children
0         1063  14107        7.5
1          444   4809        9.2
2          194   2052        9.5
3           27    330        8.2
4            4     41        9.8
5            0      9        0.0

In [23]:
group_children['proportion'].max() - group_children['proportion'][0]

2.3000000000000007

**Вывод:** 
Доля должников среди заемщиков без детей ниже, чем среди семей с детьми. Исключением является категроия семей в которой 5 детей, но на это может влиять слишком маленьая выборка в категории (всего 9 заемщиков, в то время как в катеогии без детей 14 107). Так же среди семей с детьми доля должниоков ниже в семьях с 3 детьми.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [24]:
group_family_ststus = data.groupby('family_status').agg({'debt': ['sum', 'count']})
group_family_ststus['proportion'] = (group_family_ststus['debt']['sum'] / group_family_ststus['debt']['count']) * 100
group_family_ststus['proportion'] = group_family_ststus['proportion'].round(1)
group_family_ststus

                      debt        proportion
                       sum  count
family_status
Не женат / не замужем  273   2796        9.8
в разводе               84   1189        7.1
вдовец / вдова          63    951        6.6
гражданский брак       385   4146        9.3
женат / замужем        927  12266        7.6

In [25]:
group_family_ststus['proportion'].max() - group_family_ststus['proportion'].min()

3.200000000000001

**Вывод:** 
Среди людей не женатых или находящихся в гражданском браке доля задолженностей наиболее высокая. Наименьшая доля должников выявлена среди категории овдовевших людей.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [26]:
group_total_income_category = data.groupby('total_income_category').agg({'debt': ['sum', 'count']})
group_total_income_category['proportion'] = (group_total_income_category['debt']['sum'] / group_total_income_category['debt']['count']) * 100
group_total_income_category['proportion'] = group_total_income_category['proportion'].round(1)
group_total_income_category

                       debt        proportion
                        sum  count
total_income_category
A                         2     25        8.0
B                       354   5014        7.1
C                      1353  15938        8.5
D                        21    349        6.0
E                         2     22        9.1

In [27]:
group_total_income_category['proportion'].max() - group_total_income_category['proportion'].min()

3.0999999999999996

**Вывод:** Самая выокая дола задолженностей по кредитам приходится на группу заемщиков с низким уровнем дохода: ниже 30000.Но нужно принимать в рассчет что в выборке количество кредитов приходящихся на котегрию с низким уровнем дохода сильно ниже, чем в категориях В, С и D. Меньше всего доля задолженностей в категории D, т.е. среди людей с доходом от 30000 до 50000.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [28]:
data.head(5)
group_purpose_category = data.groupby('purpose_category').agg({'debt': ['sum', 'count']})
group_purpose_category['proportion'] = (group_purpose_category['debt']['sum'] / group_purpose_category['debt']['count']) * 100
group_purpose_category['proportion'] = group_purpose_category['proportion'].round(1)
group_purpose_category

                         debt        proportion
                          sum  count
purpose_category
операции с автомобилем    400   4281        9.3
операции с недвижимостью  780  10754        7.3
получение образования     369   3989        9.3
проведение свадьбы        183   2324        7.9

In [29]:
group_purpose_category['proportion'].max() - group_purpose_category['proportion'].min()

2.000000000000001

**Вывод:** Одинаково высокая доля задолженностей по кредитам приходится на кредиты, взятые на операции с автомобилем и на получение образования. Наименьшая доля задолженностей приодится на операции с недвижимостью.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* В датафрейме встречались пропуски в значениях столбцов отражающих трудовой стаж и ежемесячный доход. Причиной появления таких пропусков могло стать не предоставление кредиторами справки о доходах и трудовом стаже, т.е. получение кредита по двум документам. Так же отсутствие данных может быть результатом технического сбоя.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:*  При рассчете среднего значения в количественных переменных, где могут встречаются занчения сильно выделяющиеся среди большенства (например: 25 кредиторов из нашей выборки имеют доход выше 1000000, а другие 22 кредитора - 30000), это может некореекстно характеризовать данные. В этом случае медианное значение даст более объективную информацию о средней величене, так как не будет перекоса в одну или в дургую сторону.

## Общий вывод.

* Из проанализированных данных можно сделать вывод, что в большей мере на возврат кредита в срок влияет семейное положение кредитора. В меньшей мере - цель кредита. (Вывод основан на разнице максимального и минимального значения доли задолженностей по каждому параметру)
* В предоставленной выборке наибольшая часть кредитов приходится на людей без детей, так же среди этой катеогрии выявлена наименьшая доля задолженностей
* Большая часть кредитов приходтся на людей, находящихся в статусе "женат / замужем" и доля задолженностей по кредитам среди этой катеогрии ниже на 2,2% чем среди незамужних, и на 1,7% ниже чем среди людей, находящихся в гражданском браке
* Наибольшая часть кредитов взята с целью проведения операций с недвижимостью и такие кредиты чаще возвращаются в срок 
* Из данных, которые мы проанализировали, можно составить примерный портрет человека, который с меньшей долей вероятности будет иметь задолженность по кредиту: кредитор состоящий в браке, без детей, с уровнем ежемесячного дохода от 30000 до 50000, берущий кредит на проведение опеций с недвижимостью.